<html>
  <body>
    <h1>Hello PCF!</h1>

    <h2>Persistent disk time log</h2>
    <p>
      <a href="/logs/time.log">/logs/time.log</a>
    </p>

    <h2>Operator's message is below:</h2>
    <p><%= p('operator.message') %></p>
  </body>
</html>
